.field0 {
  background-color: gray;
}
.field0::before {
  background-color: gray;
}
.field0::after {
  background-color: gray;
}
.field0 > div {
  z-index: 1;
  font-size: 30px;
}

.field1 {
  background-color: greenyellow;
}
.field1::before {
  background-color: greenyellow;
}
.field1::after {
  background-color: greenyellow;
}
.field1 > div {
  z-index: 1;
  font-size: 30px;
}

.field2 {
  background-color: rgb(187, 248, 95);
}
.field2::before {
  background-color: rgb(187, 248, 95);
}
.field2::after {
  background-color: rgb(187, 248, 95);
}
.field2 > div {
  z-index: 1;
  font-size: 30px;
}
