.boxFw {
  margin: 30px auto;
  padding: 0;
}
.boxFw > li {
  width: 130px;
  height: 74px;
  /* background-color: #272222; */
  float: left;
  list-style-type: none;
  margin: 20px 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.boxFw > li::before {
  content: '';
  width: 130px;
  height: 74px;
  position: absolute;
  top: 0px;
  left: 0px;
  /* background-color: #3e3535; */
  transform: rotate(60deg);
  cursor: pointer;
}
.boxFw > li::after {
  content: '';
  width: 130px;
  height: 74px;
  position: absolute;
  top: 0px;
  left: 0px;
  /* background-color: #3e3535; */
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  cursor: pointer;
}
.focused {
  border-left: 5px solid #eff0dc;
  border-right: 5px solid #eff0dc;
}
.focused::before {
  border-left: 5px solid #eff0dc;
  border-right: 5px solid #eff0dc;
}
.focused::after {
  border-left: 5px solid #eff0dc;
  border-right: 5px solid #eff0dc;
}
